.App {
  text-align: center;
}

.top-img-container {
  background-color: #e8e2db;
  position: relative;
  padding-top: 80px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 250px;
}

.profile-img {
  width: 60%;
}